table, th, td {
  border: 1px solid;
}

.job-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-option input[type='radio'] {
  margin-right: 10px;
}

.job-description {
  margin-left: 10px;
}

.large-text-wrap {
  inline-size: 500px; 
}

/* TODO: Add your primary and secondary styling below! */
.primary-button {
  color: white;
  font-weight: bold;
  background-color: green;
  padding: 10px;
}

.secondary-button {
  color: yellowgreen;
  font-style: italic;
  background-color: beige;
  border: 100px;
}